# Taken from https://github.com/RageAgainstThePixel/upm-subtree-split

name: upm-subtree-split

on:
  push:
    branches:
    - master

jobs:
  upm-subtree-split:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: RageAgainstThePixel/upm-subtree-split@v1.1
